<div class="page-wrapper">
  <div class="page-content" data-aos="fade-up">
    <div
      class="container py-5"
      style="
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 80px);
      "
    >
      <div class="row my-4">
        <div class="col">
          <h3 class="text-center text-brown">Events in Batangas</h3>
        </div>
      </div>
      <div class="row my-4" *ngFor="let event of events">
        <!-- <div class="col-md-5 mb-3 d-flex justify-content-center">
          
          <p-calendar
            [inline]="true"
            [(ngModel)]="date14"
            (ngModelChange)="test()"
          >
            <ng-template pTemplate="date" let-date>
              <span
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                [ngStyle]="{
                  backgroundColor:
                    date.month + '/' + date.day == '10/4'
                      ? '#7cc67c'
                      : 'inherit',
                  width: '20px'
                }"
                style="border-radius: 50%"
                >{{ date.day }}</span
              >
            </ng-template>
          </p-calendar>
        </div> -->
        <div class="col-md-7">
          <div class="card text-brown">
            <div class="card-body">
              <p-image
                src="{{ event?.imageGallery[0]?.thumbnailImageSrc }}"
                alt="Image"
                [preview]="true"
                width="100%"
                height="400px"
                style="aspect-ratio: 1"
              >
              </p-image>

              <div class="text-wrapper my-3">
                <header>
                  <h3 class="text-brown">{{ event?.festivalTitle }}</h3>
                </header>

                <small>
                  <strong>Event Date:</strong>
                  {{ event?.festivalDate | date: "MMMM d" }}</small
                >
                <br />
                <small>
                  <strong>Originated:</strong> {{ event?.originated }}</small
                >

                <markdown
                  class="variable-binding text-justify my-4"
                  [data]="event?.descriptionOutro"
                ></markdown>
              </div>

              <div class="button-group">
                <button class="btn btn-primary" (click)="sendReminder(event)">
                  Send me a reminder
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-image"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          #modalCloseButton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ date14 | date }}
        <form action="">
          <div class="mb-2">
            <label for="email">Enter your Email to notify:</label>
            <input
              type="text"
              id="email"
              name="name"
              [(ngModel)]="email"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <label for="name">Enter your Fullname:</label>
            <input
              type="text"
              name="name"
              [(ngModel)]="fullname"
              id="name"
              class="form-control"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendEmailNotif()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
