<div class="page-wrapper">
  <div class="page-content" data-aos="fade-up">
    <div
      class="container py-5"
      style="
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 80px);
      "
    >
      <div class="row my-4">
        <div class="col">
          <h3 class="text-center text-brown">
            History of Municipalities in Batangas
          </h3>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12 flex2">
          <div class="ghost">
            <button
              class="btn custom-btn-drop shadow2"
              type="button"
              style="visibility: hidden"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-filter"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>
          </div>
          <div class="input">
            <div class="row text-center">
              <div class="col-10 flex3">
                <input
                  type="text"
                  class="custom-input"
                  (keyup)="searchFilter($event)"
                />
              </div>

              <div class="col-2">
                <button class="fab-button btn flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="white"
                    class="bi bi-search"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="filter">
            <button
              class="btn custom-btn-drop"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-filter me-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                />
              </svg>
              Filter
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-dark" href="#">Login</a></li>
              <li>
                <a class="dropdown-item text-dark" href="#">Sign Up</a>
              </li>
              <li>
                <a class="dropdown-item text-dark" href="#">Help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <app-placeholder
        [isLoading]="isLoading"
        [renderOn]="'history'"
      ></app-placeholder>
      <div
        class="row text-brown my-5"
        *ngFor="let history of municipalitiesList"
      >
        <div class="col">
          <header class="text-capitalize">
            <h1>{{ history.municipality }}</h1>
            <div class="location mt-3">
              <small
                ><app-pin></app-pin
                ><em>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/d/u/0/viewer?msa=0&mid=1sgwv3EEVqvUyDpfw6tIcftXUbts&ll=13.987037941443775%2C120.93070137797133&z=15"
                    >{{ history.municipality }}, Batangas</a
                  >
                </em></small
              >
            </div>
          </header>

          <article class="description my-4">
            <markdown
              class="variable-binding"
              [data]="history.descriptionOutro"
            ></markdown>
            <!-- <div [innerHTML]="typescriptMarkdown | language : 'typescript' | markdown"></div> -->
          </article>
        </div>

        <div class="col">
          <p-galleria
            [value]="history.imageGallery"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '640px' }"
            [numVisible]="5"
          >
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.previewImageSrc"
                [alt]="item.alt"
                style="width: 100%; aspect-ratio: 1"
              />
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img
                  [src]="item.previewImageSrc"
                  style="width: 100px; aspect-ratio: 1"
                />
              </div>
            </ng-template>
          </p-galleria>

          <div class="row mt-5">
            <div class="col-4">
              <h5 class="mb-3">Tourist Spots</h5>
              <ul class="px-3">
                <li *ngFor="let spots of tours" class="mb-2">
                  <a href="" *ngIf="history.id === spots.locationId && spots">{{
                    spots?.tourTitle
                  }}</a>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <h5 class="mb-3">Foodtrips</h5>
              <ul class="px-3">
                <li *ngFor="let spots of tourist" class="mb-2">
                  <a href="">{{ spots.title }}</a>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <h5 class="mb-3">Festivals</h5>
              <ul class="px-3">
                <li *ngFor="let spots of tourist" class="mb-2">
                  <a href="">{{ spots.title }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col col-sm-12 col-md-12 col-lg-6">
          <app-comments></app-comments>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-image"></div>
</div>
