<p-toast position="top-right"></p-toast>

<div class="card blog-comments mt-5">
  <div class="card-body">
    <header class="header-blog">
      <h4>Leave a comment</h4>
    </header>
    <div class="comments-list my-4 text-brown">
      <h6>Comments</h6>

      <div class="comment my-4" *ngFor="let comment of comments">
        <div
          class="comment-header d-flex align-items-center justify-content-between"
        >
          <a href="" style="text-decoration: none"
            ><h6>{{ comment.user }}</h6>
          </a>
          <small class="text-muted">{{ comment.commentDate | date }}</small>
        </div>

        <div class="comment-body mt-2">
          {{ comment.comment }}
        </div>
      </div>
    </div>

    <div class="text-area">
      <form action="">
        <div class="mb-2">
          <label for="" class="form-label">Enter your email:</label
          ><input
            [(ngModel)]="email"
            name="email"
            type="email"
            class="form-control"
          />
        </div>

        <div class="mb-2">
          <label for="" class="form-label">Enter your Display name:</label>
          <input
            [(ngModel)]="displayName"
            name="displayName"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-2">
          <label for="" class="form-label">Enter your Comment:</label>
          <textarea
            class="form-control"
            id="comment"
            rows="3"
            name="comment"
            [(ngModel)]="comment"
          ></textarea>
        </div>

        <div class="mb-2 flex3">
          <button class="btn btn-primary" (click)="addUserComments()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
