h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.bg-gradient {
  background-color: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.19));
}

header {
  display: flex;
  align-items: center;

  height: 80px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .container {
    .flex {
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .flex-2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-3 {
      display: flex;
      align-items: center;
      justify-content: end;
      .login {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: white;
        }

        .custom-btn {
          display: flex;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.644);

          border-radius: 21px;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .nav-group {
        display: flex;

        margin: 0;
        padding: 0;
        list-style: none;
        a {
          transition: 0.3s all ease;
          // color: white;
          letter-spacing: 0.3em;
          font-weight: 500;
          z-index: 100;

          &:hover {
            border-bottom: 2px solid white;
          }
        }

        & > * + * {
          margin-left: 40px;
        }
      }
    }
    .nav-mobile {
      display: none;
    }
  }
}
.text-white.active {
  border-bottom: 2px solid white;
}
.text-brown.active {
  border-bottom: 2px solid var(--text-color-dark);
}

.fill-white {
  fill: white;
}
.fill-black {
  fill: var(--text-color-dark);
}
.shadow2 {
  box-shadow: 0 1px 3px rgba(113, 113, 113, 0.12),
    0 1px 2px rgba(112, 112, 112, 0.24);

  &:hover {
    box-shadow: 0 3px 6px rgba(113, 113, 113, 0.16),
      0 3px 6px rgba(113, 113, 113, 0.23);
  }
}
.desktop {
  display: inline;
}
.mobile {
  display: none;
}

@media (max-width: 767px) {
  header {
    .container {
      .nav {
        display: none;
      }
      .nav-mobile {
        display: flex;
        position: fixed;
        top: 0;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100vh;
        justify-content: center;

        flex-direction: column;
        transform: translateX(0);

        .nav-group {
          display: flex;
          align-items: center;
          flex-direction: column;
          list-style: none;

          a {
            font-size: 24px;
            color: var(--text-color-dark);
            font-weight: 600;
          }
          & > * + * {
            margin-bottom: 1em;
          }
        }
      }
      .nav-mobile.collapse {
        transform: translateX(500%);
      }
    }
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
