<section
  data-aos="fade-up"
  [style.background-image]="image"
  [ngStyle]="{
    backgroundAttachment: 'fixed',
    backgroundRepeat: 'no-repeat',
    backgroundSize: 'cover',
    backgroundPositionY: '-400px'
  }"
  class="hero"
>
  <div class="container">
    <div class="row">
      <div class="col d-flex">
        <h1 class="h1-responsive text-center">
          <!-- <span style="font-weight: 200">Isla</span> -->
          {{ data?.foodTripTitle }}
        </h1>
      </div>
    </div>
  </div>

  <div class="black-gradient"></div>
</section>

<div class="page-wrapper" data-aos="fade-up">
  <div
    class="container py-5 text-brown"
    style="
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 80px);
    "
  >
    <div class="row my-4">
      <div class="col">
        <header>
          <h2 class="text-uppercase">{{ data?.foodTripTitle }}</h2>

          <div class="location mt-3">
            <small
              ><app-pin></app-pin>
              <em>{{ data?.originated }}, Batangas</em></small
            >
          </div>
        </header>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <article>
          <markdown
            class="variable-binding text-justify"
            [data]="data?.descriptionOutro"
          ></markdown>
        </article>

        <p class="p-0 producer">
          <strong>Producer:</strong>
          {{
            data?.producer
          }}
        </p>
      </div>
      <div class="col-sm col-md-6 col-lg-6">
        <div class="image w-100 d-flex justify-content-end">
          <p-galleria
            [value]="data?.imageGallery"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '640px' }"
            [numVisible]="5"
          >
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.previewImageSrc"
                [alt]="item.alt"
                style="width: 100%; height: 500px; aspect-ratio: 1"
              />
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img
                  [src]="item.previewImageSrc"
                  style="width: 100px; height: 100px"
                />
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col col-sm-12 col-md-12 col-lg-6">
        <app-comments
          [commentIn]="'Foodtrip Page:' + ' ' + data?.foodTripTitle"
          [isLoaded]="!isLoading"
          *ngIf="!isLoading"
        ></app-comments>
      </div>
    </div>
  </div>
</div>
