* {
  transition: 0.3s all ease-in-out;
}

.hero {
  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  position: relative;
  display: grid;
  place-items: center;
  color: white;

  .black-gradient {
    position: absolute;
    background: linear-gradient(to-bottom, rgba(0, 0, 0, 0.712), rgb(0, 0, 0));
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 4.3rem;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    position: relative;
    width: max-content;
    z-index: 1;
  }
}
.page-wrapper {
  min-height: 100vh;

  background: linear-gradient(#eff1dbb8, #eff1dbb8),
  url("/assets/bgbgbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: white;
  position: relative;

  h1 {
    font-weight: 700;
  }

  .page-content {
  }
}

.custom-btn {
  border: none;
  background: rgba(0, 0, 0, 0.618);
  color: white;
  padding: 1em;

  &:hover {
    background-color: #d91b2b;
  }

  &:active {
    background-color: #d91b2b;
  }
}
.ghost-div {
  width: 90px;
  min-height: 300px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex3 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.about-img {
  padding: 1.2em;
  background-image: linear-gradient(
      to bottom,
      rgba(196, 196, 196, 0.63),
      rgb(255, 255, 255)
    ),
    url("/assets/images/BT.png");
  background-size: cover;
  background-position: center;

  position: relative;
  width: 80%;
  transition: all 0.5s;
  transform: rotateZ(7deg);

  height: max-content;

  .image {
    width: 100%;
  }
}
.about-img::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 20px;
  width: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom
    center;
  background-size: 150%;
  filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.24));
}
:host ::ng-deep .p-tabview {
  .p-tabview-nav {
    color: black;
  }

  .p-tabview-panels {
    // background-color: red;
    min-height: 600px;
  }
  .p-tabview-selected {
    // background-color: red;
  }
}

@media (max-width:528px) {


  .hero{
    h1{

      font-size: 3em;
    }
  }
  
}
