<p-toast position="top-right"></p-toast>
<p-confirmPopup></p-confirmPopup>

<!-- pagee -->
<div class="page-wrapper p-3">
  <div class="container-fluid">
    <div class="row">
      <app-breadcrumbs [location]="'Manage History'"></app-breadcrumbs>

      <header>
        <h3>Manage History and Municipalities</h3>
      </header>
    </div>
    <div class="row my-3">
      <header class="d-flex justify-content-between">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add-tourist"
        >
          Add Data
        </button>
        <div class="filters d-flex justify-content-between">
          <input
            type="text"
            class="form-control me-2"
            placeholder="Search"
            [(ngModel)]="searchValue"
            (keyup)="searchFilter($event)"
          />
          <button
            class="btn btn-primary d-flex"
            data-bs-toggle="modal"
            data-bs-target="#filter-modal"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-filter me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
              />
            </svg>
            Filter
          </button>
        </div>
      </header>
    </div>
    <div class="row my-4" *ngFor="let tour of tours">
      <div class="col me-4">
        <div class="card w-100">
          <div class="crd-body">
            <div class="post-container">
              <div class="post-left d-flex">
                <div class="img">
                  <img
                    src="{{
                      tour.imageGallery[0]?.thumbnailImageSrc
                        ? tour.imageGallery[0]?.thumbnailImageSrc
                        : 'assets/images/bats.jpg'
                    }}"
                    height="100%"
                    width="200px"
                    style="aspect-ratio: 1"
                    alt=""
                  />
                </div>
                <div class="text-wrapper" style="margin-left: 2em">
                  <h5 class="h5-responsive">
                    {{ tour.municipality }}
                  </h5>
                  <p><strong>Mayor:</strong> {{ tour.mayor }}</p>
                  <p><strong>Summary:</strong> {{ tour.descriptionSummary }}</p>

                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-modal"
                    (click)="selectedData(tour)"
                  >
                    View all Details
                  </button>
                </div>
              </div>

              <div class="costs" style="margin-right: 2em">
                <p>
                  <strong>Contact: </strong>
                  <i class="uil uil-telegram-alt text-danger"></i
                  >{{ tour.contact }}
                </p>
                <p>
                  <strong>Email: </strong>
                  <i class="uil uil-telegram-alt text-danger"></i
                  >{{ tour.email }}
                </p>
              </div>
            </div>
          </div>

          <div class="action-btns">
            <div class="left my-2">
              <button
                id="edit"
                data-bs-toggle="modal"
                data-bs-target="#edit-modal"
                class="btn btn-primary edit"
                (click)="selectedData(tour)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
            </div>
            <div class="right">
              <button
                id="delete"
                class="btn btn-danger delete"
                (click)="confirm($event, tour.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->

<!-- Add Modal -->
<div
  class="modal fade"
  id="add-tourist"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Add History and Municipality
        </h1>
        <button
          #addTourCloseModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="formBuild">
          <div class="mb-2">
            <label for="municipality" class="form-label">Municipality:</label>
            <input
              type="text"
              class="form-control"
              formControlName="municipality"
            />

            <small
              class="text-danger"
              *ngIf="
                formBuild.controls['municipality'].hasError('required') &&
                formBuild.controls['municipality'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <label for="descriptionSummary" class="form-label"
              >Description (Summary):</label
            >
            <textarea
              class="form-control"
              id="descriptionSummary"
              formControlName="descriptionSummary"
              rows="3"
            ></textarea>

            <small
              class="text-danger"
              *ngIf="
                formBuild.controls['descriptionSummary'].hasError('required') &&
                formBuild.controls['descriptionSummary'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <label for="descriptionOutro" class="form-label"
              >Description:</label
            >
            <textarea
              class="form-control"
              id="descriptionOutro"
              formControlName="descriptionOutro"
              rows="6"
            ></textarea>

            <small
              class="text-danger"
              *ngIf="
                formBuild.controls['descriptionOutro'].hasError('required') &&
                formBuild.controls['descriptionOutro'].touched
              "
            >
              Please fill up the field
            </small>
          </div>
          <div class="mb-2">
            <label for="locationUrl" class="form-label"
              >Location URL (Google Maps):</label
            >
            <input
              type="text"
              formControlName="locationUrl"
              class="form-control"
            />

            <small
              class="text-danger"
              *ngIf="
                formBuild.controls['locationUrl'].hasError('required') &&
                formBuild.controls['locationUrl'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <label for="upload" class="form-label">Municipality Gallery:</label>
            <p-fileUpload
              id="upload"
              name="myfile[]"
              [customUpload]="true"
              (uploadHandler)="myUploader($event)"
              [multiple]="true"
            ></p-fileUpload>
          </div>

          <div class="mb-2">
            <label for="mayor" class="form-label">Mayor:</label>
            <input
              type="text"
              class="form-control"
              formControlName="mayor"
              id="mayor"
            />

            <small
              class="text-danger"
              *ngIf="
                formBuild.controls['mayor'].hasError('required') &&
                formBuild.controls['mayor'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="contact" class="form-label">Contact:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contact"
                    id="contact"
                  />

                  <small
                    class="text-danger"
                    *ngIf="
                      formBuild.controls['contact'].hasError('required') &&
                      formBuild.controls['contact'].touched
                    "
                  >
                    Please fill up the field
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="email" class="form-label">Email:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    id="email"
                  />

                  <small
                    class="text-danger"
                    *ngIf="
                      formBuild.controls['email'].hasError('required') &&
                      formBuild.controls['email'].touched
                    "
                  >
                    Please fill up the field
                  </small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="addTourist()">
          Add History
        </button>
      </div>
    </div>
  </div>
</div>

<!-- FIlter modal -->
<div
  class="modal fade"
  id="filter-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Filter</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- details modal -->
<div
  class="modal fade"
  id="details-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update History</h1>
        <button
          #updateTourCloseModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="updateForm">
          <div class="mb-2">
            <label for="municipality" class="form-label">Municipality:</label>
            <input
              type="text"
              class="form-control"
              formControlName="municipality"
            />

            <small
              class="text-danger"
              *ngIf="
                updateForm.controls['municipality'].hasError('required') &&
                updateForm.controls['municipality'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <label for="descriptionSummary" class="form-label"
              >Description (Summary):</label
            >
            <textarea
              class="form-control"
              id="descriptionSummary"
              formControlName="descriptionSummary"
              rows="3"
            ></textarea>

            <small
              class="text-danger"
              *ngIf="
                updateForm.controls['descriptionSummary'].hasError(
                  'required'
                ) && updateForm.controls['descriptionSummary'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <label for="descriptionOutro" class="form-label"
              >Description:</label
            >
            <textarea
              class="form-control"
              id="descriptionOutro"
              formControlName="descriptionOutro"
              rows="6"
            ></textarea>

            <small
              class="text-danger"
              *ngIf="
                updateForm.controls['descriptionOutro'].hasError('required') &&
                updateForm.controls['descriptionOutro'].touched
              "
            >
              Please fill up the field
            </small>
          </div>
          <div class="mb-2">
            <label for="locationUrl" class="form-label"
              >Location URL (Google Maps):</label
            >
            <input
              type="text"
              formControlName="locationUrl"
              class="form-control"
            />

            <small
              class="text-danger"
              *ngIf="
                updateForm.controls['locationUrl'].hasError('required') &&
                updateForm.controls['locationUrl'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <label for="upload" class="form-label">Municipality Gallery:</label>
            <p-fileUpload
              id="upload"
              name="myfile[]"
              [customUpload]="true"
              (uploadHandler)="myUploader($event)"
              [multiple]="true"
            ></p-fileUpload>
          </div>

          <div class="mb-2">
            <label for="mayor" class="form-label">Mayor:</label>
            <input
              type="text"
              class="form-control"
              formControlName="mayor"
              id="mayor"
            />

            <small
              class="text-danger"
              *ngIf="
                updateForm.controls['mayor'].hasError('required') &&
                updateForm.controls['mayor'].touched
              "
            >
              Please fill up the field
            </small>
          </div>

          <div class="mb-2">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="contact" class="form-label">Contact:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contact"
                    id="contact"
                  />

                  <small
                    class="text-danger"
                    *ngIf="
                      updateForm.controls['contact'].hasError('required') &&
                      updateForm.controls['contact'].touched
                    "
                  >
                    Please fill up the field
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="email" class="form-label">Email:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    id="email"
                  />

                  <small
                    class="text-danger"
                    *ngIf="
                      updateForm.controls['email'].hasError('required') &&
                      updateForm.controls['email'].touched
                    "
                  >
                    Please fill up the field
                  </small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="updateTour()">
          Update History
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->

<div
  class="modal fade"
  id="delete-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Tour</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this post?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
