<section
  data-aos="fade-up"
  [style.background-image]="image"
  [ngStyle]="{
    backgroundAttachment: 'fixed',
    backgroundRepeat: 'no-repeat',
    backgroundSize: 'cover',
    backgroundPositionY: '-400px'
  }"
  class="hero"
>
  <!-- {{data.imageGallery[0].previewImageSrc}} -->
  <div class="container">
    <div class="row">
      <div class="col d-flex">
        <h1 class="h1-responsive text-center">
          <!-- <span style="font-weight: 200">Isla</span> -->
          {{ data?.tourTitle }}
        </h1>
      </div>
    </div>
  </div>

  <div class="black-gradient"></div>
</section>

<div class="page-wrapper" data-aos="fade-up">
  <div
    class="container py-5 text-brown"
    style="
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 80px);
    "
  >
    <app-placeholder
      [isLoading]="isLoading"
      [renderOn]="'tour details'"
    ></app-placeholder>
    <div class="row my-4">
      <div class="col">
        <header>
          <h2 class="text-uppercase">{{ data?.tourTitle }}</h2>

          <div class="location mt-3">
            <small
              ><app-pin></app-pin>
              <em>{{ data?.location }}, Batangas</em></small
            >
          </div>
        </header>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <article>
          <markdown
            class="variable-binding text-justify"
            [data]="data?.descriptionOutro"
          ></markdown>
        </article>
        <div class="more-details mt-5">
          <ul class="p-0" style="list-style: none">
            <li class="mb-3">
              <h6>Contact:</h6>
              <span
                ><a
                  href="{{ data?.contact }}"
                  target="_blank"
                  class="body text-justify"
                >
                  {{ data?.contact }}
                </a></span
              >
            </li>
            <li>
              <h6>Email:</h6>
              <span
                ><a
                  href="{{ data?.email }}"
                  target="_blank"
                  class="body text-justify"
                >
                  {{ data?.email }}
                </a></span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col col-md-6 col-lg-6">
        <div class="image w-100 d-flex justify-content-end">
          <p-galleria
            [value]="data?.imageGallery"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '640px' }"
            [numVisible]="5"
          >
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.previewImageSrc"
                [alt]="item.alt"
                style="width: 100%; height: 500px; aspect-ratio: 1"
              />
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img
                  [src]="item.previewImageSrc"
                  style="width: 100px; height: 100px"
                />
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col col-sm-12 col-md-12 col-lg-6">
        <app-comments></app-comments>
      </div>
    </div>
  </div>
</div>
