.page-wrapper{
    height: 100vh;
    // padding-top: 80px;

    

    overflow: hidden;

    

    color: white;
    position: relative;


   
}
.text-wrapper{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.722);

        h1{
            font-size: 4em;
        font-weight: 700;

        }
    }
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn{
    border: none;
    background: rgba(0, 0, 0, 0.618);
    color: white;
    padding: 1em;


    &:hover{
        background-color: #d91b2b;
    }

    &:active{
        background-color: #d91b2b;

    }
    
}

.batangas-map{
    width:100%;
          height:600px;
         aspect-ratio: 1;
}
@media (max-width:991px) {
    .page-wrapper{
        padding-top: 80px;
    
    
       
    }

    .batangas-map{
        width:100%;
              height:300px;
             aspect-ratio: 1;
    }
    .text-wrapper{
    
            h1{
                font-size: 4em;
            font-weight: 700;
    
            }

            .button-grp{
                display: flex;
                justify-content: center;
            }
        }
}